#include <windows.h>

IDI_ICON1 ICON DISCARDABLE "resources/icons/otter-browser.ico"

VS_VERSION_INFO VERSIONINFO
	FILEVERSION 0,9,0,2
	PRODUCTVERSION 0,9,0,2
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "CompanyName", "Otter Browser Team"
			VALUE "FileDescription", "Otter Browser"
			VALUE "FileVersion", "0.9.02"
			VALUE "InternalName", "otter-browser"
			VALUE "LegalCopyright", "Copyright (C) 2013-2014 Michal Dutkiewicz"
			VALUE "OriginalFilename", "otter-browser.exe"
			VALUE "ProductName", "Otter Browser"
			VALUE "ProductVersion", "0.9.02"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1252
	END
END
