[Desktop Entry]
Name=Otter Browser
GenericName=Web Browser
GenericName[ru]=Веб браузер
Comment=Project aiming to recreate classic Opera (12.x) UI using Qt5
Comment[sr]=Кут5 пројект који циља да клонира сучеље класичне Опере (12.x)
Comment[sr@ijekavian]=Кут5 пројект који циља да клонира сучеље класичне Опере (12.x)
Comment[sr@latin]=Kut5 projekt koji cilja da klonira sučelje klasične Opere (12.x)
Comment[sr@ijekavianlatin]=Kut5 projekt koji cilja da klonira sučelje klasične Opere (12.x)
Icon=
Type=Application
Categories=Application;Network;WebBrowser;
Encoding=UTF-8
Exec=otter-browser %u
Terminal=false
StartupNotify=false
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
