[Desktop Entry]
Name=Otter Browser
Name[cs_CZ]=Otter Browser
Name[da]=Otter Browser
Name[de_DE]=Otter-Browser
Name[el]=Περιηγητής Otter
Name[en_CA]=Otter Browser
Name[en_GB]=Otter Browser
Name[es_ES]=Navegador Otter
Name[es_MX]=Otter Browser
Name[et]=Otter brauser
Name[fi]=Otter selain
Name[fr_FR]=Navigateur Web Otter
Name[hr_HR]=Otter preglednik
Name[hu]=Otter böngésző
Name[id_ID]=Otter Browser
Name[it_IT]=Otter Browser
Name[ja_JP]=Otter Browser
Name[ka_GE]=Otter Browser
Name[lt]=Naršyklė Otter
Name[nb_NO]=Oter-nettleser
Name[nl]=Otter Webbrowser
Name[pl_PL]=Przeglądarka Otter
Name[pt_BR]=Otter Browser
Name[pt_PT]=Navegador Otter
Name[ro]=Otter Browser
Name[ru_RU]=Otter Browser
Name[sk]=Webový prehliadač Otter
Name[sl_SI]=Brskalnik Otter
Name[sr@Ijekavian]=Отер прегледач
Name[sr@ijekavianlatin]=Oter pregledač
Name[sr@latin]=Oter pregledač
Name[sr]=Отер прегледач
Name[tr_TR]=Otter Tarayıcı
Name[uk_UA]=Otter Browser
Name[zh_CN.GB2312]=水獭浏览器
Name[zh_TW]=Otter 瀏覽器
GenericName=Web Browser
GenericName[cs_CZ]=Internetový prohlížeč
GenericName[da]=Web Browser
GenericName[de_DE]=Webbrowser
GenericName[el]=Περιηγητής Ιστού
GenericName[en_CA]=Web Browser
GenericName[en_GB]=Web Browser
GenericName[es_ES]=Navegador Web
GenericName[es_MX]=Navegador Web
GenericName[et]=Veebisirvija
GenericName[fi]=Internet-selain
GenericName[fr_FR]=Navigateur Web
GenericName[hr_HR]=Web preglednik
GenericName[hu]=Webböngésző
GenericName[id_ID]=Peramban Web
GenericName[it_IT]=Browser Web
GenericName[ja_JP]=WEBブラウザ
GenericName[ka_GE]=ვებ ბრაუზერი
GenericName[lt]=Žiniatinklio naršyklė
GenericName[nb_NO]=Nettleser
GenericName[nl]=Webbrowser
GenericName[pl_PL]=Przeglądarka internetowa
GenericName[pt_BR]=Navegador da Web
GenericName[pt_PT]=Navegador
GenericName[ro]=Navigator Web
GenericName[ru_RU]=Веб-браузер
GenericName[sk]=Webový prehliadač
GenericName[sl_SI]=Brskalnik
GenericName[sr@Ijekavian]=Веб прегледач
GenericName[sr@ijekavianlatin]=Veb pregledač
GenericName[sr@latin]=Veb pregledač
GenericName[sr]=Веб прегледач
GenericName[tr_TR]=İnternet Tarayıcısı
GenericName[uk_UA]=Веб-браузер
GenericName[zh_CN.GB2312]=网页浏览器
GenericName[zh_TW]=網頁瀏覽器
Icon=otter-browser
Type=Application
Categories=Network;WebBrowser;
Exec=otter-browser %u
Terminal=false
StartupNotify=false
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
