[Desktop Entry]
Name=Otter Browser
Name[cs_CZ]=Otter Browser
Name[et]=Otter brauser
Name[fr_FR]=Navigateur Web Otter
Name[id_ID]=Otter Browser
Name[lt]=Naršyklė Otter
Name[nl]=Otter Webbrowser
Name[pl_PL]=Przeglądarka Otter
Name[pt_BR]=Otter Browser
Name[pt_PT]=Otter Navegador
Name[ro]=Otter Browser
Name[sk]=Otter prehliadač
Name[sr]=Отер прегледач
Name[sr@Ijekavian]=Отер прегледач
Name[sr@ijekavianlatin]=Oter pregledač
Name[sr@latin]=Oter pregledač
Name[tr_TR]=Otter Tarayıcı
GenericName=Web Browser
GenericName[cs_CZ]=Internetový prohlížeč
GenericName[et]=Veebibrauser
GenericName[fr]=Navigateur Web
GenericName[fr_FR]=Navigateur Web
GenericName[id_ID]=Peramban Web
GenericName[ka]=ვებ ბრაუზერი
GenericName[lt]=Žiniatinklio naršyklė
GenericName[nl]=Webbrowser
GenericName[pl_PL]=Przeglądarka internetowa
GenericName[pt_BR]=Navegador da Web
GenericName[pt_PT]=Navegador
GenericName[ro]=Navigator Web
GenericName[ru]=Веб-браузер
GenericName[sk]=Internetový prehliadač
GenericName[sr]=Веб прегледач
GenericName[sr@Ijekavian]=Веб прегледач
GenericName[sr@ijekavianlatin]=Veb pregledač
GenericName[sr@latin]=Veb pregledač
GenericName[tr_TR]=İnternet Tarayıcısı
Icon=otter-browser
Type=Application
Categories=Network;WebBrowser;
Exec=otter-browser %u
Terminal=false
StartupNotify=false
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
