Source: otter-browser
Section: web
Priority: extra
Maintainer: Rog131 <samrog131@hotmail.com>
Build-Depends: debhelper (>= 9.0),
 cmake,
 qtbase5-dev,
 libqt5webkit5-dev,
 qtdeclarative5-dev,
 qtscript5-dev,
 qtmultimedia5-dev
Standards-Version: 3.9.6
Homepage: http://otter-browser.org/

Package: otter-browser
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Web browser based on Qt5
 Otter is a web browser controlled by the user, not vice-versa. Its goal is to
 recreate the best aspects of the classic Opera (12.x) UI using Qt5.
 .
 http://otter-browser.org
